<p>
  <strong>Nombre:</strong>
  <%= @paciente.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @paciente.apellido %>
</p>

<p>
  <strong>Genero:</strong>
  <%= @paciente.genero %>
</p>

<p>
  <strong>Tipo documento:</strong>
  <%= @paciente.tipo_documento %>
</p>

<p>
  <strong>Documento:</strong>
  <%= @paciente.documento %>
</p>

<p>
  <strong>F nacimiento:</strong>
  <%= @paciente.f_nacimiento %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @paciente.edad %>
</p>

<p>
  <strong>Pais nacimiento:</strong>
  <%= @paciente.pais_nacimiento %>
</p>

<p>
  <strong>N departamento:</strong>
  <%= @paciente.n_departamento %>
</p>

<p>
  <strong>N ciudad:</strong>
  <%= @paciente.n_ciudad %>
</p>

<p>
  <strong>Aseguradora:</strong>
  <%= @paciente.aseguradora %>
</p>

<p>
  <strong>Raza:</strong>
  <%= @paciente.raza %>
</p>

<p>
  <strong>Etnia:</strong>
  <%= @paciente.etnia %>
</p>

<p>
  <strong>Pais residencia:</strong>
  <%= @paciente.pais_residencia %>
</p>

<p>
  <strong>R departamento:</strong>
  <%= @paciente.r_departamento %>
</p>

<p>
  <strong>R ciudad:</strong>
  <%= @paciente.r_ciudad %>
</p>

<p>
  <strong>R direccion:</strong>
  <%= @paciente.r_direccion %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @paciente.estado %>
</p>

<p>
  <strong>Pais estancia:</strong>
  <%= @paciente.pais_estancia %>
</p>

<p>
  <strong>E departamento:</strong>
  <%= @paciente.e_departamento %>
</p>

<p>
  <strong>E ciudad:</strong>
  <%= @paciente.e_ciudad %>
</p>

<p>
  <strong>Religion:</strong>
  <%= @paciente.religion %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @paciente.celular %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @paciente.telefono %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @paciente.correo %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @paciente.usuario.nombres %>
</p>

<%= link_to 'Editar', edit_paciente_path(@paciente) %> |
<%= link_to 'Regresar', pacientes_path %>
