<%= form_for(consentimiento) do |f| %>
  <% if consentimiento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(consentimiento.errors.count, "error") %> prohibited this consentimiento from being saved:</h2>

      <ul>
      <% consentimiento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="col-md-8 oro-form__content">
  <div class="container-fluid">
    <div  id="basicos" class="oro-form__group">
      <div class="row">
        <br>
        <br>
        <h4 class="oro-form__breack"><a>Nuevo Consentimiento</a> - Datos Basicos</h4>
        <br>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :nombre, class: 'form-label' %>
            <%= f.text_field :nombre , class: 'form-control'%>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :apellido, class: 'form-label' %>
            <%= f.text_field :apellido , class: 'form-control'%>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :'Fecha de Nacimiento', class: 'form-label' %>
            <br>
            <%= f.date_field :f_nacimiento , class: 'form-control'%>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :'Es Menor de Edad', class: 'form-label' %>
            <%= f.select(:c_menor, ['No', 'Si'], {}, { :class => 'form-control' }) %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :tipo_documento, class: 'form-label' %>
            <%= f.select(:tipo_documento, ['Cedula Ciudadania', 'Cedula Extranjeria', 'Tarjeta Identidad', 'Registro de Nacimiento'], {}, { :class => 'form-control' }) %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :documento, class: 'form-label' %>
            <%= f.text_field(:documento, { :class => 'form-control' }) %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :'Nombre Representante', class: 'form-label' %>
            <%= f.text_field(:na_representante, { :class => 'form-control' }) %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :'Tipo Documento del Representante', class: 'form-label' %>
            <%= f.select(:r_tipo_documento, ['Cedula Ciudadania', 'Cedula Extranjeria', 'Tarjeta Identidad', 'Registro de Nacimiento'], {}, { :class => 'form-control' }) %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :'Documento del Representante', class: 'form-label' %>
            <%= f.text_field(:r_documento, { :class => 'form-control' }) %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :direccion, class: 'form-label' %>
            <%= f.text_field(:direccion, { :class => 'form-control' }) %>
          </div>
        </div>
      </div>
      <div class="row">
        <!--<div class="col-md-6">
          <div class="form-group">
            <%# <%= f.label :v_contenido, class: 'form-label' %>
            <%# <%= f.text_field(:v_contenido, { :class => 'form-control' }) %>
          </div>
        </div>-->
        <div class="col-md-6">

        </div>
      </div>
    </div>
    <div  id="tipos" class="oro-form__group">
      <div class="row">
        <h4 class="oro-form__breack">Consentimientos:</h4>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <br>
            <%= f.label :c_tipo1 %>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet animi eius harum ipsa nesciunt quos sit ut. Asperiores culpa harum impedit libero minima nihil praesentium quae quo sapiente sit.</span>
            <%= f.select(:c_tipo1, ['No', 'Si'], {}, { :class => 'form-control' }) %>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <br>
          <%= f.label :c_tipo2 %>
          <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet animi eius harum ipsa nesciunt quos sit ut. Asperiores culpa harum impedit libero minima nihil praesentium quae quo sapiente sit.</span>
          <%= f.select(:c_tipo2, ['No', 'Si'], {}, { :class => 'form-control' }) %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <br>
            <%= f.label :c_tipo3 %>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet animi eius harum ipsa nesciunt quos sit ut. Asperiores culpa harum impedit libero minima nihil praesentium quae quo sapiente sit.</span>
            <%= f.select(:c_tipo3, ['No', 'Si'], {}, { :class => 'form-control' }) %>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <br>
          <%= f.label :c_tipo4 %>
          <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet animi eius harum ipsa nesciunt quos sit ut. Asperiores culpa harum impedit libero minima nihil praesentium quae quo sapiente sit.</span>
          <%= f.select(:c_tipo4, ['No', 'Si'], {}, { :class => 'form-control' }) %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <br>
            <%= f.label :c_tipo %>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet animi eius harum ipsa nesciunt quos sit ut. Asperiores culpa harum impedit libero minima nihil praesentium quae quo sapiente sit.</span>
            <%= f.select(:c_tipo, ['No', 'Si'], {}, { :class => 'form-control' }) %>
          </div>
        </div>
      </div>
    </div>
    <div  id="contacto" class="oro-form__group">
      <div class="row">
        <h4 class="oro-form__breack">Fecha y Contacto:</h4>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :fecha, class: 'form-label' %>
            <br>
            <%= f.date_field(:fecha, { :class => 'form-control' }) %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :correo, class: 'form-label' %>
            <%= f.text_field(:correo, { :class => 'form-control' }) %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :telefono, class: 'form-label' %>
            <%= f.text_field(:telefono, { :class => 'form-control' }) %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%# <%= f.label :na_clinico, class: 'form-label' %>
            <%# <%= f.text_field(:na_clinico, { :class => 'form-control' }) %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :correo_clinico, class: 'form-label' %>
            <%= f.text_field(:correo_clinico, { :class => 'form-control' }) %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <div class="actions">
              <br>
              <input type="submit" class="btn btn-primary btn-block" value="Guardar Consentimiento">
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
<div class="col-md-4 oro-form__control">
  <ul class="nav navbar">
    <li class="navbar-link oro-form__check"><a href="#basicos" onclick="return false"><i class="glyphicon glyphicon-check"></i> Datos Basicos</a></li>
    <li class="navbar-link oro-form__check"><a href="#tipos" onclick="return false"><i class="glyphicon glyphicon-check"></i> Consentimientos</a></li>
    <li class="navbar-link oro-form__check"><a href="#contacto" onclick="return false"><i class="glyphicon glyphicon-check"></i> Datos Contacto</a></li>
  </ul>
</div>
  <script !src="">
      $(document).ready(function(){
          loadDatosBasicos();
      })
  </script>
<% end %>
