<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @consentimiento.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @consentimiento.apellido %>
</p>

<p>
  <strong>F nacimiento:</strong>
  <%= @consentimiento.f_nacimiento %>
</p>

<p>
  <strong>C menor:</strong>
  <%= @consentimiento.c_menor %>
</p>

<p>
  <strong>Tipo documento:</strong>
  <%= @consentimiento.tipo_documento %>
</p>

<p>
  <strong>Documento:</strong>
  <%= @consentimiento.documento %>
</p>

<p>
  <strong>Na representante:</strong>
  <%= @consentimiento.na_representante %>
</p>

<p>
  <strong>R tipo documento:</strong>
  <%= @consentimiento.r_tipo_documento %>
</p>

<p>
  <strong>R documento:</strong>
  <%= @consentimiento.r_documento %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @consentimiento.direccion %>
</p>

<p>
  <strong>V contenido:</strong>
  <%= @consentimiento.v_contenido %>
</p>

<p>
  <strong>C tipo1:</strong>
  <%= @consentimiento.c_tipo1 %>
</p>

<p>
  <strong>C tipo2:</strong>
  <%= @consentimiento.c_tipo2 %>
</p>

<p>
  <strong>C tipo3:</strong>
  <%= @consentimiento.c_tipo3 %>
</p>

<p>
  <strong>C tipo4:</strong>
  <%= @consentimiento.c_tipo4 %>
</p>

<p>
  <strong>C tipo:</strong>
  <%= @consentimiento.c_tipo %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @consentimiento.fecha %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @consentimiento.correo %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @consentimiento.telefono %>
</p>

<p>
  <strong>Na clinico:</strong>
  <%= @consentimiento.na_clinico %>
</p>

<p>
  <strong>Correo clinico:</strong>
  <%= @consentimiento.correo_clinico %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @consentimiento.usuario.nombres %>
</p>

<%= link_to 'Editar', edit_consentimiento_path(@consentimiento) %> |
<%= link_to 'Regresar', consentimientos_path %>
