<h1>Seguimientos</h1>

<table>
  <thead>
    <tr>
      <th>N tecnica</th>
      <th>N procedimiento</th>
      <th>N frecuencia aplicacion</th>
      <th>Evolucion foto</th>
      <th>Resultado</th>
      <th>Usuario</th>
      <th>Paciente</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @seguimientos.each do |seguimiento| %>
      <tr>
        <td><%= seguimiento.n_tecnica %></td>
        <td><%= seguimiento.n_procedimiento %></td>
        <td><%= seguimiento.n_frecuencia_aplicacion %></td>
        <td><%= seguimiento.evolucion_foto %></td>
        <td><%= seguimiento.resultado %></td>
        <td><%= seguimiento.usuario %></td>
        <td><%= seguimiento.paciente %></td>
        <td><%= link_to 'Ver', seguimiento %></td>
        <td><%= link_to 'Editar', edit_seguimiento_path(seguimiento) %></td>
        <td><%= link_to 'Eliminar', seguimiento, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Seguimiento', new_seguimiento_path %>
