<%= form_for(fotodiagnostico) do |f| %>
  <% if fotodiagnostico.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fotodiagnostico.errors.count, "error") %> prohibited this fotodiagnostico from being saved:</h2>

      <ul>
      <% fotodiagnostico.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :f_evaluacion %>
    <%= f.date_select :f_evaluacion %>
  </div>

  <div class="field">
    <%= f.label :id_evaluacion %>
    <%= f.text_field :id_evaluacion %>
  </div>

  <div class="field">
    <%= f.label :paciente_id %>
    <%= f.collection_select :paciente_id, Paciente.all, :id, :nombre %>
  </div>

  <div class="field">
    <%= f.label :foto_id %>
    <%= f.collection_select :foto_id, Foto.all, :id, :foto_titulo %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
