<div class="row">
  <div class="col-md-9">
    <div class="oro-metrics__marco">
      <div class="oro-metrics__glass">

      </div>
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">FRONTAL</a></li>
        <li><a data-toggle="tab" href="#menu1">LATERAL</a></li>
      </ul>
      <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
          <div class="oro-metrics__media" id="media_frontal">
            <canvas class="oro-metrics__canvas center-block" id="canvas-frontal" width="150" height="150">
              <img class="oro-matrics__foto img-responsive center-block" src="<%= @foto.img_frontal %>" alt="">
            </canvas>
            <div class="oro-metrics__nav">

            </div>
          </div>
        </div>
        <div id="menu1" class="tab-pane fade">
          <div class="oro-metrics__media" id="media_lateral">
            <canvas class="oro-metrics__canvas center-block" id="canvas-lateral" width="150" height="150">
              <img class="oro-matrics__foto img-responsive center-block" src="<%= @foto.img_lateral %>" alt="">
            </canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="oro-metrics__nav col-md-9">
      <ul class="oro-metrics__points row">
        <li  tabindex="0" class="oro-metrics__point" data-toggle="tooltip" title="Genatio" data-point="genatio" onclick="lisentPoint('genatio');" onkeypress="lisentPointEnter(event,'genatio')">
          <span class="oro-metrics__point-info"></span>
          <span class="oro-metrics__point-deleted"><i class="glyphicon glyphicon-trash"></i></span>
          <img src="<%= asset_path 'genatio.png' %>" alt="genatio" class="img-responsive center-block">
        </li>
        <li  tabindex="1" class="oro-metrics__point" data-toggle="tooltip" title="Trichion" data-point="trichion" onclick="lisentPoint('trichion');" onkeypress="lisentPointEnter(event,'trichion')">
          <span class="oro-metrics__point-info"></span>
          <span class="oro-metrics__point-deleted" onclick="deletedPoint(event,'trichion');" ><i class="glyphicon glyphicon-trash"></i></span>
          <img src="<%= asset_path 'trichion.png' %>" alt="trichion" class="img-responsive center-block">
        </li>
        <li tabindex="2" class="oro-metrics__point" data-toggle="tooltip" title="Glabela" data-point="glabela" onclick="lisentPoint('glabela');" onkeypress="lisentPointEnter(event,'glabela')">
          <span class="oro-metrics__point-info"></span>
          <span class="oro-metrics__point-deleted"><i class="glyphicon glyphicon-trash"></i></span>
          <img  alt="glabela" src="<%= asset_path 'glabela.png' %>"  class="img-responsive center-block">
        </li>
        <li tabindex="3" class="oro-metrics__point" data-toggle="tooltip" title="Subnasal" data-point="subnasal" onclick="lisentPoint('subnasal');" onkeypress="lisentPointEnter(event,'subnasal')">
          <span class="oro-metrics__point-info"></span>
          <span class="oro-metrics__point-deleted"><i class="glyphicon glyphicon-trash"></i></span>
          <img alt="subnasal" src="<%= asset_path 'subnasal.png' %>"  class="img-responsive center-block">
        </li>
        <li tabindex="4" class="oro-metrics__point" data-toggle="tooltip" title="Pronasal" data-point="pronasal" onclick="lisentPoint('pronasal');" onkeypress="lisentPointEnter(event,'pronasal')">
          <span class="oro-metrics__point-info"></span>
          <span class="oro-metrics__point-deleted"><i class="glyphicon glyphicon-trash"></i></span>
          <img alt="pronasal" src="<%= asset_path 'pronasal.png' %>"  class="img-responsive center-block">
        </li>
        <li tabindex="5" class="oro-metrics__point" data-toggle="tooltip" title="Labiale Superior" data-point="labialesuperior" onclick="lisentPoint('labialesuperior');" onkeypress="lisentPointEnter(event,'labialesuperior')">
          <span class="oro-metrics__point-info"></span>
          <span class="oro-metrics__point-deleted"><i class="glyphicon glyphicon-trash"></i></span>
          <img alt="labialesuperior" src="<%= asset_path 'labiale_superior.png' %>"  class="img-responsive center-block">
        </li>
        <li tabindex="6" class="oro-metrics__point" data-toggle="tooltip" title="Comisura Labial Izquierdo" data-point="comisuralabial__izquierdo" onclick="lisentPoint('comisuralabial__izquierdo');" onkeypress="lisentPointEnter(event,'comisuralabial__izquierdo')">
          <span class="oro-metrics__point-info"></span>
          <span class="oro-metrics__point-deleted"><i class="glyphicon glyphicon-trash"></i></span>
          <img alt="comisuralabial__izquierdo" src="<%= asset_path 'comisura_labial-izquierdo.png' %>"  class="img-responsive center-block">
        </li>
        <li tabindex="7" class="oro-metrics__point" data-toggle="tooltip" title="Comisura Labial Derecho"  data-point="comisuralabial__derecho" onclick="lisentPoint('comisuralabial__derecho');" onkeypress="lisentPointEnter(event,'comisuralabial__derecho')">
          <span class="oro-metrics__point-info"></span>
          <span class="oro-metrics__point-deleted"><i class="glyphicon glyphicon-trash"></i></span>
          <img alt="comisuralabial__derecho" src="<%= asset_path 'comisura_labial-derecho.png' %>"  class="img-responsive center-block">
        </li>
        <li tabindex="8" class="oro-metrics__point" data-toggle="tooltip" title="Canto Externo Derecho" data-point="canto__externo-derecho" onclick="lisentPoint('canto__externo-derecho');" onkeypress="lisentPointEnter(event,'canto__externo-derecho')">
          <span class="oro-metrics__point-info"></span>
          <span class="oro-metrics__point-deleted"><i class="glyphicon glyphicon-trash"></i></span>
          <img alt="canto__externo-derecho" src="<%= asset_path 'canto__externo-derecho.png' %>"  class="img-responsive center-block">
        </li>
        <li tabindex="9" class="oro-metrics__point" data-toggle="tooltip" title="Canto Externo Izquierdo" data-point="canto__externo-izquierdo" onclick="lisentPoint('canto__externo-izquierdo');" onkeypress="lisentPointEnter(event,'canto__externo-izquierdo')">
          <span class="oro-metrics__point-info"></span>
          <span class="oro-metrics__point-deleted"><i class="glyphicon glyphicon-trash"></i></span>
          <img alt="canto__externo-izquierdo" src="<%= asset_path 'canto__externo-izquierdo.png' %>"  class="img-responsive center-block">
        </li>
        <li tabindex="10" class="oro-metrics__point" data-toggle="tooltip" title="Canto Interno Derecho" data-point="canto__interno-derecho" onclick="lisentPoint('canto__interno-derecho');" onkeypress="lisentPointEnter(event,'canto__interno-derecho')">
          <span class="oro-metrics__point-info"></span>
          <span class="oro-metrics__point-deleted"><i class="glyphicon glyphicon-trash"></i></span>
          <img alt="canto__interno-derecho" src="<%= asset_path 'canto__interno-derecho.png' %>"  class="img-responsive center-block">
        </li>
        <li tabindex="11" class="oro-metrics__point" data-toggle="tooltip" title="Canto Interno Izquierdo"  data-point="canto__interno-izquierdo" onclick="lisentPoint('canto__interno-izquierdo');" onkeypress="lisentPointEnter(event,'canto__interno-izquierdo')">
          <span class="oro-metrics__point-info"></span>
          <span class="oro-metrics__point-deleted"><i class="glyphicon glyphicon-trash"></i></span>
          <img alt="canto__interno-izquierdo" src="<%= asset_path 'canto__interno-izquierdo.png' %>"  class="img-responsive center-block">
        </li>
        <li tabindex="12" class="oro-metrics__point" data-toggle="tooltip" title="Cigomatica Derecho" data-point="cigomatica__derecho" onclick="lisentPoint('cigomatica__derecho');" onkeypress="lisentPointEnter(event,'cigomatica__derecho')">
          <span class="oro-metrics__point-info"></span>
          <span class="oro-metrics__point-deleted"><i class="glyphicon glyphicon-trash"></i></span>
          <img alt="cigomatica__derecho" src="<%= asset_path 'cigomatica_derecha.png' %>"  class="img-responsive center-block">
        </li>
        <li tabindex="13" class="oro-metrics__point" data-toggle="tooltip" title="Cigomatica Izquierdo" data-point="cigomatica__izquierdo" onclick="lisentPoint('cigomatica__izquierdo');" onkeypress="lisentPointEnter(event,'cigomatica__izquierdo')">
          <span class="oro-metrics__point-info"></span>
          <span class="oro-metrics__point-deleted"><i class="glyphicon glyphicon-trash"></i></span>
          <img alt="cigomatica__izquierdo" src="<%= asset_path 'cigomatica_izquierda.png' %>"  class="img-responsive center-block">
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-3">
    <div class="oro-metrics__info">
      <div class="oro-metrics__rule">
          <details class="row">
            <summary class="btn btn-primary" style="margin-left: 15px">Inicar Calibracion</summary>
            <div class="col-md-12" style="padding:15px">
              <small> <strong>Calibrar:</strong> marca punto inicial y punto final, luego establesca la medida entre esos puntos para calibrar la pantalla.</small>
            </div>
            <div class="col-md-12">
              <img src="<%= asset_path 'rule.png' %>" alt="" class="center-block img-responsive">
            </div>
            <div class="col-md-3">
              <div class="form-group" >
                <label class="form-label text-center" for="oro-metrics__rule-init"><small>0.0</small></label>
                <span class="btn btn-default btn-xs" id="oro-metrics__rule-init" data-point="oro-metrics__rule-init" onclick="lisentPoint('oro-metrics__rule-init');">MARCAR</span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input class="form-control" id="oro-metrics__rule-large" type="text" name="oro-metrics__rule-large">
                <label class="form-label" for="point-name">Media CM</label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-label text-center" for="oro-metrics__rule-end"><small>0.0</small></label>
                <span class="btn btn-default btn-xs" id="oro-metrics__rule-end" data-point="oro-metrics__rule-end" onclick="lisentPoint('oro-metrics__rule-end');">MARCAR</span>
              </div>
            </div>
          </details>

      </div>
    </div>
    <div class="oro-metrics__info">
      <p>
        <strong>F subida:</strong>
        <%= @foto.f_subida %>
      </p>
      <p>
        <strong>Foto titulo:</strong>
        <%= @foto.foto_titulo %>
      </p>
      <p>
        <strong>Usuario:</strong>
        <%= @foto.usuario.nombres %>
      </p>
      <p>
        <strong>Paciente:</strong>
        <%= @foto.paciente.nombre %>
      </p>

      <%= link_to 'Editar', edit_foto_path(@foto) %> |
      <%= link_to 'Regresar', fotos_path %>
    </div>
    <div class="oro-metrics__info">
      <div class="oro-metrics__info-point">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group" >
              <label class="form-label" for="point-name">Nombre Punto</label>
              <input class="form-control" id="oro-metrics__nombre-punto" type="text" name="oro-metrics__nombre-punto" disabled>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group" >
              <label class="form-label" for="eje-x">Eje X</label>
              <input class="form-control" type="number" id="oro-metrics__eje-x" min="0.000" step="1" name="oro-metrics__eje-x">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label" for="eje-y">Eje Y</label>
              <input class="form-control" id="oro-metrics__eje-y" type="number" min="0.000" step="1" name="oro-metrics__eje-y">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<scirpt src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/2.0.0/fabric.min.js"></scirpt>
<script type="text/javascript" charset="utf-8">
    function Canvas(id, src, parent){
        this.id = id;
        this.parent = parent;
        this.canvas = null;
        this.width = 0;
        this.height = 0;
        this.ctx = null;
        this.src = src;
        this.img = null;
        this.beginLoad = true;
        this.eventsLoad = false;
        this.draw = function(){drawCanvas(this)};
        this.rule ={
            init: null,
            end: null
        };
        this.trichion = null;
        this.genatio = null;
        this.glabela = null;
        this.subnasal = null;
        this.pronasal = null;
        this.labialesuperior = null;
        this.canto = {
            externo : {
                derecho : null,
                izquierdo : null
            },
            interno : {
                derecho : null,
                izquierdo : null
            }
        };
        this.cigomatica = {
            derecho: null,
            izquierdo: null
        };
        this.comisuralabial = {
            derecha: null,
            izquierdo : null
        }
    }

    function CanvasPoint(position,widthPoint,heightPoint){
        this.position = position,
        this.widthPoint = widthPoint,
        this.heightPoint = heightPoint
    }

    function CanvasPosition(positionX,positionY){
        this.x = positionX,
        this.y = positionY
    }

    $('.oro-subnavbar__link').removeClass('oro-subnavbar__link--active');
    $('#nav-matrics').addClass('oro-subnavbar__link--active');
    widthParent =  360;
    pointSelect =  'trichion';
    pointDelect = '';
    frontal = new Canvas('canvas-frontal','<%= @foto.img_frontal %>', 'media_frontal');
    lateral = new Canvas('canvas-lateral','<%= @foto.img_lateral %>', 'media_lateral');

    $(document).ready(function(){
        widthParent =  $('body').width();
        frontal.draw();
        lateral.draw();
        lisentPoint(pointSelect);
    });

    function setCoordenadasPoint(x,y){
        console.log('('+x+','+y+')');
        $($('#oro-metrics__eje-x')[0]).val(x);
        $($('#oro-metrics__eje-y')[0]).val(y);
    }

    function lisentPoint(point){
        pointSelect = point;
        $('.oro-metrics__point').removeClass('oro-metrics__point--select');
        $($('.oro-metrics__point[data-point='+point+']')[0]).addClass('oro-metrics__point--select');
        $($('#oro-metrics__nombre-punto')[0]).val(point);
        setCoordenadasPoint(0,0);
    }

    function lisentPointEnter(e,point){
        if(e.keyCode === 13){
            lisentPoint(point);
        }
    }

    function drawCanvas(obj){
        console.log("[drawCanvas] > "+ obj.id);
        obj.canvas = document.getElementById(obj.id);
        if (obj.canvas.getContext){
            obj.ctx = obj.canvas.getContext('2d');
            initEventsCanvas(obj);
            insertImage(obj);
            obj.ctx.save();
        } else {
            // canvas-unsupported code here
        }
    }

    function initEventsCanvas(obj) {
        if (obj.eventsLoad === false){
            obj.canvas.addEventListener("click", function (e) {
                drawPointActive(obj, e, '');
            });
            obj.eventsLoad = true;
        }
    }

    function  insertImage(obj) {
        obj.img = new Image();
        obj.img.onload = function() {
            if(obj.beginLoad){
                obj.beginLoad = false;
                resizeCanvasToImage(obj,obj.img);
                obj.draw();
            }
            obj.ctx.drawImage(obj.img, 0, 0, obj.canvas.width , obj.canvas.height);
        };
        obj.img.src = obj.src;
    }

    function resizeCanvasToImage(obj,img){
        obj.beginLoad = false;
        obj.canvas.width = img.width;
        obj.canvas.height = img.height;
        // para validar maximo ancho
        let parent = '#'+obj.parent;

        let maxWidth = $(parent).width();
        console.log(maxWidth);
        console.log(img.width > maxWidth);
        if( img.width > maxWidth) {
            if(maxWidth < 200){
                maxWidth = widthParent;
            }
            resizeCanvasTo(maxWidth,obj);
        }
        widthParent = maxWidth;
        //si el canvas es mas grande que el body
        let bodyWidth = $('body').width();

        if( bodyWidth < 1000  &&  bodyWidth <  obj.canvas.width){
            maxWidth = $('body').width() + (img.width/6);
            if( img.width > maxWidth){
                resizeCanvasTo(maxWidth,obj);
            }
        }
    }

    function resizeCanvasTo(widthResize,obj){
        console.log( obj.parent + "> widthResize : "+ widthResize + "> obj.img.width :" + obj.img.width);
        let porcent = (widthResize / obj.img.width) * 100;
        let reduceWidth =  (obj.img.width  / 100) * porcent;
        let reduceHeight =  (obj.img.height  / 100) * porcent;
        obj.canvas.width = widthResize;
        obj.canvas.height =  reduceHeight;
        console.log(obj.parent + ' > resizeCanvasTo > ' + 'obj.canvas.width : '+obj.canvas.width + ', obj.canvas.height: '+ obj.canvas.height );

    }

    function getMousePos(obj, evt) {
        let rect = obj.canvas.getBoundingClientRect();
        return {
            x: evt.clientX - rect.left,
            y: evt.clientY - rect.top
        };
    }

    function drawPointActive(obj,evt){
        let position = getMousePos(obj,evt);
        let widthPoint = 12;
        let heightPoint = 12;
        drawPoints(obj,position,widthPoint,heightPoint);
    }

    function drawPoints(obj,position,widthPoint,heightPoint){
        position = new CanvasPosition(Math.round(position.x),Math.round(position.y));
        let promise = new Promise((resolve, reject) => {
            obj.draw();
            setTimeout(()=>resolve(obj),200)
        });
        promise.then((obj) => {
            if(pointSelect === 'genatio'){
                obj.genatio = new CanvasPoint(position,widthPoint,heightPoint);
                drawPoint(obj,obj.genatio,pointSelect);
            }else {
                drawPoint(obj,obj.genatio,'');
            }
            if(pointSelect === 'trichion'){
                obj.trichion = new CanvasPoint(position,widthPoint,heightPoint);
                drawPoint(obj,obj.trichion,pointSelect);
            }else if(obj.trichion != null){
                drawPoint(obj,obj.trichion,'');
            }
            if(pointSelect === 'glabela' && obj.glabela != null){
                obj.glabela = {
                    'position': position,
                    'widthPoint' : widthPoint,
                    'heightPoint': heightPoint };
                drawPoint(obj,obj.glabela,pointSelect)
            }else if(obj.glabela != null){
                drawPoint(obj,obj.glabela,pointSelect)
            }
            if(pointSelect === 'subnasal' && obj.subnasal != null ){
                obj.subnasal = {
                    'position': position,
                    'widthPoint' : widthPoint,
                    'heightPoint': heightPoint };
                drawPoint(obj,obj.subnasal,pointSelect)
            }else if(obj.subnasal != null){
                drawPoint(obj,obj.subnasal,pointSelect)
            }
            if(pointSelect === 'pronasal' && obj.pronasal != null){
                obj.pronasal = {
                    'position': position,
                    'widthPoint' : widthPoint,
                    'heightPoint': heightPoint };
                drawPoint(obj,obj.pronasal,pointSelect)
            }else if(obj.pronasal != null){
                drawPoint(obj,obj.pronasal,pointSelect)
            }
            if(pointSelect === 'labialesuperior' && obj.labialesuperior != null){
                obj.labialesuperior = {
                    'position': position,
                    'widthPoint' : widthPoint,
                    'heightPoint': heightPoint };
                drawPoint(obj,obj.labialesuperior,pointSelect)
            }else if(obj.labialesuperior != null){
                drawPoint(obj,obj.labialesuperior,pointSelect)
            }
            if(pointSelect === 'canto__externo-derecho' && obj.canto.externo.derecho != null){
                obj.canto.externo.derecho = {
                    'position': position,
                    'widthPoint' : widthPoint,
                    'heightPoint': heightPoint };
                drawPoint(obj,obj.canto.externo.derecho,pointSelect);
            } else if(obj.canto.externo.derecho != null){
                drawPoint(obj,obj.canto.externo.derecho,pointSelect);
            }
            if(pointSelect === 'canto__externo-izquierdo' && obj.canto.externo.izquierdo != null ){
                obj.canto.externo.izquierdo = {
                    'position': position,
                    'widthPoint' : widthPoint,
                    'heightPoint': heightPoint };
                drawPoint(obj,obj.canto.externo.izquierdo,pointSelect);
            }else if(obj.canto.externo.izquierdo != null){
                drawPoint(obj,obj.canto.externo.izquierdo,pointSelect);
            }
            if(pointSelect === 'canto__interno-derecho' && obj.canto.interno.derecho != null){
                obj.canto.interno.derecho = {
                    'position': position,
                    'widthPoint' : widthPoint,
                    'heightPoint': heightPoint };
                drawPoint(obj,obj.canto.interno.derecho,pointSelect );
            }else if(obj.canto.interno.derecho != null){
                drawPoint(obj,obj.canto.interno.derecho,pointSelect );
            }
            if(pointSelect === 'canto__interno-izquierdo' && obj.canto.interno.izquierdo != null){
                obj.canto.interno.izquierdo = {
                    'position': position,
                    'widthPoint' : widthPoint,
                    'heightPoint': heightPoint };
                drawPoint(obj,obj.canto.interno.izquierdo,pointSelect );
            }else if( obj.canto.interno.izquierdo != null){
                drawPoint(obj,obj.canto.interno.izquierdo,pointSelect );
            }
            if(pointSelect === 'cigomatica__derecho' && obj.cigomatica.derecho != null){
                obj.cigomatica.derecho = {
                    'position': position,
                    'widthPoint' : widthPoint,
                    'heightPoint': heightPoint };
                drawPoint(obj,obj.cigomatica.derecho,pointSelect )
            }else if(obj.cigomatica.derecho != null){
                drawPoint(obj,obj.cigomatica.derecho,pointSelect );
            }
            if(pointSelect === 'cigomatica__izquierdo' && obj.cigomatica.izquierdo != null ){
                obj.cigomatica.izquierdo = {
                    'position': position,
                    'widthPoint' : widthPoint,
                    'heightPoint': heightPoint };
                drawPoint(obj,obj.cigomatica.izquierdo,pointSelect)
            }else if(obj.cigomatica.izquierdo != null){
                drawPoint(obj,obj.cigomatica.izquierdo,pointSelect )
            }
            if(pointSelect === 'comisuralabial__izquierdo' && obj.comisuralabial.izquierdo != null){
                obj.comisuralabial.izquierdo = {
                    'position': position,
                    'widthPoint' : widthPoint,
                    'heightPoint': heightPoint };
                drawPoint(obj,obj.comisuralabial.izquierdo,pointSelect )
            }else if(obj.comisuralabial.izquierdo != null){
                drawPoint(obj,obj.comisuralabial.izquierdo,pointSelect )
            }
            if(pointSelect === 'comisuralabial__derecho' && obj.comisuralabial.derecha != null){
                obj.comisuralabial.derecha = {
                    'position': position,
                    'widthPoint' : widthPoint,
                    'heightPoint': heightPoint };
                drawPoint(obj,obj.comisuralabial.derecha,pointSelect )
            }else if(obj.comisuralabial.derecha != null){
                drawPoint(obj,obj.comisuralabial.derecha,pointSelect )
            }
            if(pointSelect === 'oro-metrics__rule-init' && obj.rule.init != null ){
                obj.rule.init = {
                    'position': position,
                    'widthPoint' : widthPoint,
                    'heightPoint': heightPoint };
                drawPoint(obj,obj.rule.init,pointSelect )
            }else if(obj.rule.init != null){
                drawPoint(obj.rule.init,pointSelect)
            }
            if(pointSelect === 'oro-metrics__rule-end' && obj.rule.end != null ){
                obj.rule.end = {
                    'position': position,
                    'widthPoint' : widthPoint,
                    'heightPoint': heightPoint };
                drawPoint(obj,obj.rule.end,pointSelect)
            }else if(obj.rule.end != null){
                drawPoint(obj.rule.end,pointSelect)
            }

            enlazarCigomatica(obj);
            enlazarAsimetriaFacial(obj);
        });
    }

    function drawPoint(obj,point,currentPoint){
        if( (pointDelect !== '' && currentPoint === pointDelect ) || point == null ){
            if( point == null ){
                point = new CanvasPoint( new CanvasPosition(0,0), 0,0);
            }
            point.heightPoint= 0;
            point.widthPoint = 0;
            point.position.x = 0;
            point.position.y = 0;
        }
        if( currentPoint === pointSelect ){
            setCoordenadasPoint(point.position.x,point.position.y);
        }
        if ( currentPoint !== ''){
            $($('.oro-metrics__point[data-point='+currentPoint+']')[0]).addClass('oro-metrics__point--check');
            $($($('.oro-metrics__point[data-point='+currentPoint+']')[0]).find('.oro-metrics__point-info')[0])[0].innerHTML ='('+point.position.x+','+point.position.y+')';
        }
        obj.ctx.fillRect(point.position.x - (point.widthPoint/4),point.position.y - (point.heightPoint/4) ,point.widthPoint/2,point.heightPoint/2);
        obj.ctx.strokeStyle = "#333";
        obj.ctx.beginPath();
        let x = point.position.x; // x coordinate
        let y = point.position.y; // y coordinate
        let radius = point.widthPoint; // Arc radius
        let startAngle = 0; // Starting point on circle
        let endAngle = Math.PI * 2; // End point on circle
        let anticlockwise = true; // clockwise or anticlockwise

        obj.ctx.arc(x, y, radius, startAngle, endAngle, anticlockwise);
        obj.ctx.stroke();
    }

    function enlazarCigomatica(obj){
      if(obj.cigomatica != null){
          if(obj.cigomatica.izquierdo != null && obj.cigomatica.derecho != null){
              drawLine(obj,obj.cigomatica.izquierdo,obj.cigomatica.derecho,'#ff0000');
          }
      }
    }

    function enlazarAsimetriaFacial(obj){
        if(obj.canto != null && obj.comisuralabial != null){
            if(obj.canto.externo.izquierdo != null && obj.comisuralabial.izquierdo != null){
                drawLine(obj,obj.canto.externo.izquierdo,obj.comisuralabial.izquierdo,'#0000ff');
            }
            if(obj.canto.externo.derecho != null && obj.comisuralabial.derecha != null){
                drawLine(obj,obj.canto.externo.derecho,obj.comisuralabial.derecha,'#0000ff');
            }
        }
    }

    function drawLine(obj,since,until,style){
        obj.ctx.beginPath();
        obj.ctx.moveTo(since.position.x, since.position.y);
        obj.ctx.lineTo(until.position.x, until.position.y);
        obj.ctx.strokeStyle = style;
        obj.ctx.stroke();
    }

    function deletedPoint(event,dataPoint){
        pointDelect = dataPoint;
    }

</script>


